<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Controller.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>Controller.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>Controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookingController</servlet-name>
        <servlet-class>AdminController.AdminBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBooking</servlet-name>
        <servlet-class>AdminController.AdminBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminContact</servlet-name>
        <servlet-class>AdminController.AdminContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProduct</servlet-name>
        <servlet-class>AdminController.AdminProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>AdminController.AdminUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/SigninController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookingController</servlet-name>
        <url-pattern>/AdminBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBooking</servlet-name>
        <url-pattern>/AdminBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminContact</servlet-name>
        <url-pattern>/AdminContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProduct</servlet-name>
        <url-pattern>/AdminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUser</servlet-name>
        <url-pattern>/AdminUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
