body, html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: #ededed;
}
#main-container{
    /*top: 0;*/
    width: 75%;
    margin: 0 auto;
    background-color : #dbdada;
    display:grid;
    border-radius: 0px 0px 15px 15px;
    /*border: 1px solid white;*/
    box-shadow: 0 0 24px rgba(0,0,0,.8);
    margin-bottom: 5%;
    
}


.active-link{
    font-weight: 700;
}

#nav-bar a:hover{
    text-decoration: underline;
}

#content{
	background-color: white;
}

#left-content{
	margin: 0;
	width: 75%;
	float: left;
	padding-left: 15px;
    padding-bottom: 50px;
}

#left-first-content{
    padding-top: 20px;
}

#left-first-content{
    padding-top: 20px;
}

#title-first-content{
    font-size: 28px;
    line-height: 32.8px;
    padding-top: 20px;
    padding-bottom: 10px
}

#cake-title{
	font-size: 28px;
	line-height: 32.8px;
	padding-top: 20px;
	padding-bottom: 10px
}

#cake-image{
    width: 30%;
    float:left;
}

#cake-image img{
    width:100%;
    border-radius: 8px;
}
#cake-price
{
    
    text-decoration: underline;
    font-size: 130%;
    width: 100%;
    margin-left: 50px;
    display:inline-block;
}
#cake-content{
    width: 60%;
    padding-left:  5px;
    display:inline-block;
}

#right-content{
	margin:0;
	width: 20%;
	float: right;
	padding-right: 15px;
}

.right-box{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.right-box-title {
	font-size: 20px;
	padding-left: 10px;
}

.right-box-text p{
	padding-left: 10px;
} 

.right-box-link{
	text-align: center;
	padding-bottom: 10px
}
.right-box-link a:hover{
	background-color: #2b796e;
}

.right-box-content ul{
	list-style: none;
	list-style-type: none;
	padding: 0; /* new  */
}

.btn-link{
	padding: 4px 12px;
	border-radius: 18px;
	background-color: #3fb1a2;
	text-decoration: none;
	color:white;
}

/* new  */

.right-box-content li{
    padding-left: 15px;
}

.right-box-content li img{
    padding-right: 5px;
}

/*   */


.right-box-content a{
	color: black;
}



#footer{
	background-color: white;
    border-radius: 0px 0px 15px 15px;
}

#footer-content{
	width: 95%;
	border-top:1px solid #ccc;
	margin: 0 auto;
	padding-bottom: 20px;

}

#footer-content a{
	color:black;
	font-size: 13.6px;
}